.textbox {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;

  &__label {
    color: #64748b;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__input {
    all: unset;
    border-bottom: 2px solid #cbd5e1;
    box-sizing: border-box;
    padding: 0.25rem;
    width: 100%;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    ::placeholder {
      color: #64748b;
    }

    &:focus {
      border-bottom: 2px solid #0f172a;
    }
  }
}
