.header {
    align-items: center;
    background-color: yellowgreen;
    color: #303132;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;;
    padding-inline: 1rem;
    padding-block: 0.5rem;

    .logo{
        all:unset;
        cursor: pointer;
    }
  }
  