.header {
  background-color: #0f172a;
  color: #f8fafc;
  text-align: center;

  .content {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media screen and (min-width: 576px) {
  .header {
    text-align: left;
  }
}
