.project {
  cursor: pointer;
  margin: 0 -1rem;
  padding: 1rem;

  &:hover {
    background-color: #cbd5e1;
  }

  &.active {
    background-color: #64748b;
    color: #f8fafc;
  }
}

.projects__empty {
  color: #64748b;
}
